*{ /*Seletor universal para resetar as bordas da página*/
    padding:0px;
    margin:0px;
}
;:root{/*seletor raiz para variáveis*/
    --cor-de-fundo:#0404ff;
    --cor-da-letra:#fd8f00;
}
body{/*seletorbody*/
    background-color: var(--cor-de-fundo);
}
