@import url("style/header.css");

*{ /*Seletor universal para resetar as bordas da página*/
    padding:0px;
    margin:0px;
}
;:root{/*seletor raiz para variáveis*/
    --cor-de-fundo:#002fff;
    --cor-da-letra:#fd0000;
    --cor-branco:#ffffff;
}
body{/*seletorbody*/
    background-color: blue);
}
